.wrapper {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 1280px;
  background-color: hsl( var( --color-white) );
  border-radius: 30px;
}

@media (min-width: 768px) {
  .wrapper {
    height: 100vh;
    background-color: hsl( var(--color-pale-blue) );
    align-items: center;
  }

  .container {
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    width: auto;
    box-shadow: 10px 10px 50px 5px hsla( var(--color-dark-gray-blue), 0.2 );
  }

  .summary-wrapper {
    height: 100%;
    padding: .5rem;
  }
}
